html,
body,
p,
div,
img,
h1,
h2,
h3,
h4,
ol,
dl,
dd,
dt,
form,
table,
td,
tr {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
}

html {
    background-color: hsl(210, 25%, 8%);
    color: #c5c5c5;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    padding-top: 1em;
    padding-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

ul li p {
    margin-bottom: 0;
}

div {
    padding: 0;
    margin: 0;
}

body {
    font-size: 100%;
}

a {
    color: rgb(0, 150, 207);
    ;
}

a:hover {
    text-decoration: none;
}

div#logo {
    width: 100%;
    text-align: center;
    font-size: 200%;
}

div#logo a {
    text-decoration: none;
    color: rgb(115, 116, 128);
}

div#content {
    width: 100%;
}

div#content div#innercontent {
    max-width: 80ch;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

header,
footer {
    font-size: 75%;
    text-align: center;
    color: rgb(115, 116, 128);
}

header>a,
footer>a {
    color: rgb(115, 116, 128);
}

hr.before-footer {
    margin-top: 2em;
    border-color: rgb(115, 116, 128);
}

header {
    margin-bottom: 2em;
}

nav {
    width: 100%;
    text-align: center;
    font-size: 105%;
    padding-bottom: 2%;
    color: rgb(115, 116, 128);
}

nav>a {
    color: rgb(115, 116, 128);
    text-decoration: none;
}

a.active {
    color: #c5c5c5;
}

pre {
    overflow: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

ol {
    margin-left: 2em;
}

img.align-center {
    margin: 1em auto;
    display: block;
}

.literal-block {
    background-color: rgb(25, 31, 38);
    color: rgb(230, 226, 207);
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
    font-size: 14px;
    border-radius: 10px;
}

tt {
    background-color: #191f26;
    color: rgb(255, 180, 84);
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
    font-size: 0.875em;
    overflow-x: initial;
    display: inline;
    padding: 0.1em 0.3em;
    border-radius: 6px;
    line-height: 1.45em;
    padding-top: 3pt;
    padding-bottom: 3pt;
}

pre {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
    font-size: 14px;
    border-radius: 10px;

    display: block;
    overflow-x: auto;
}

#topbar {
    border-color: rgb(115, 116, 128);
}

.avatar {
    height: 30pt;
    width: 30pt;
    background-color: #bbb;
    border-radius: 50%;
}

.avatar-small {
    height: 15pt;
    width: 15pt;
    background-color: #bbb;
    border-radius: 50%;
}

.chat {
    overflow-y: scroll;
    height: 80vh;
    padding-right: 8pt;
    padding-left: 8pt;
}

.chat-entry {
    margin: 2pt;
    display: flex;
    flex-direction: row;
}

.chat-entry-me {
    justify-content: right;
}

.chat-entry-other {
    justify-content: left;
}

.chat-user-name {
    margin-top: 15pt;
    margin-left: 10pt;
    font-size: smaller;
}

.chat-sent-avatar-cell {
    min-width: 35pt;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.chat-message-me-cell {
    width: max-content;
    max-width: 70%;
}

.chat-message-other-cell {
    width: max-content;
    max-width: 70%;
}

.chat-message-with-user {
    max-width: 100%;
}

.chat-received-avatar-cell {
    min-width: 15pt;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.chat-message-me {
    background-color: orange;
    color: rgb(25, 31, 38);
    border-radius: 20pt;
    padding: 10pt;
    word-wrap: break-word;
}

.chat-message-other {
    background-color: gray;
    color: rgb(25, 31, 38);
    border-radius: 20pt;
    padding: 10pt;
    word-wrap: break-word;
}

#send-message-input {
    border-radius: 10pt;
    width: 100%;
    height: 25pt;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    padding-left: 5pt;
    padding-right: 5pt;
    background-color: darkgrey;
    border-color: #191f26;
    outline: none !important;
}